@use '../utils/variables' as *;

.footer {
  grid-area: footer;
  background: $footer-bg-dark;
  color:$footer-bg-dark;
  padding: 1.5rem 2rem;
  text-align: center;
  font-size: 0.9rem;
  transition: background 0.3s ease , color 0.3s ease;
  height: 100%;
}