@use '../utils/variables' as *;

.stats {
  grid-area: status;
  

  &__title {
  margin-bottom: 24px;
  }


  &__grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  }

  &__item {
    background: linear-gradient(
    135deg,
    rgb(223, 227, 240),
    rgb(228, 236, 230),
    rgb(215, 221, 239)
  );

  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; 
  box-shadow:  0 5px 20px rgba(0, 0, 0, 0.2);
  border: 1px solid $border-color-light;
  border-radius: 12px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;

    &:hover {
      transform: scale(1.03);
      box-shadow: $hover-shadow-light;
    }
  }

  &__icon {
    width: 60px;
    height: 60px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $light;

    i {
      color: $accent ;
    }

    &--design {
      background: rgba(128, 128, 128, 0.074); ;
    }

    &--development {
      background: rgba(128, 128, 128, 0.074);;
    }

    &--marketing {
      background: rgba(128, 128, 128, 0.074); ;
    }
  } 

  &__value {
    font-size: 1.3rem;
    font-weight: 500;
    margin-top: 0.5rem;
    color: black;
  }

  &__label {
    font-size: 0.95rem;
    color: #000;
  }
}

